body {
  background-image: url("img/room.png");
  background-size: cover;

}
.live-cat {
   margin-top: 50px;

}

.care-list {
   background: lightgreen; 
   border: 3px solid black;
}

.care-item {
  max-height: 150px;
  background: rgba(0, 0, 0,0.7);
  margin: 15px 0;
  padding: 10px;
  border-radius: calc(100px / 2);
  cursor: pointer; 
}

.care-item span {
  color: white;
  text-align: center;
  margin-left: 25px;
  font-weight: 900;
}

.care-item img {
  height:  100px;
  text-align: center;
  border-radius: 0%; 
  padding: center;
}

.care-item:hover {
   background: rgba(50, 50, 50, 0.7); /*подсветка строки*/
}

.display {
  font-weight: 900;
  background: lightgreen; 
  border: 3px solid darkgreen;
  padding: 10px;
  margin-bottom: 30px; 
}

.cat-oper {
  background-size: cover;
} 

.cat-sort img {
  height:  500px;
  margin-top: 100px;
  margin-left: -50px;
  text-align: center;
}

.btn {
  font-weight: 900;
  color: lightgreen;
  border: 3px solid darkgreen;
}

.cat-speak {
  background: white;
  border: 5px solid dark;
  text-align: center;
  padding: 15px;
  margin-bottom: 30px; 
  border-radius: calc(100px / 2);
  border: 3px solid black;
}

.cat-speak h3 {
  text-align: center;
}
